@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
}

body,button{
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

header{
    background-color: #1F2937;
}

nav{
    padding: 15px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .header-logo-link{
    color: #F9FaF8;
    font-size: 24px;
    text-decoration: none;
    font-weight: 700;
}

.navbar-link ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

.navbar-link .header-link,
.hero-left p,
.hero-right p{
    text-decoration: none;
    font-size: 18px;
    color:#E5E7EB;
}

.hero-section{
    padding: 100px 200px;
    display:flex;
    justify-content: space-between;

}

.hero-left{
    width: 30%;
}

.hero-left .main-text{

    font-size:  48px;
    font-weight: extra-bold;
    color:  #F9FAF8;
    margin: 0;
}

.hero-left p{
    margin-top: 5px;
}

.btn-signup{
    margin-top: 10px;
    background-color: #3882F6;
    border: none;
    padding: 8px 27px;
    color: #F9FAF8;
    font-weight: 700;
    border-radius: 6px;
}

.btn-signup:hover{
    cursor: pointer;
}

.btn-signup.below{
    border: 1px solid #F9FaF8;
}

.hero-right{
    background-color: rgba(249, 250, 248, .3);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
}

main{
    text-align: center;
    padding: 50px 0 100px;
}

main h2{
    font-size: 36px;
    font-weight: 700;
    color: #1F2937
}

.container-main{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px
}   

.card{
    width: 11%;
    color: rgba(0, 0, 0, .8);
}

.card .box{
    border: 3px solid #3882F6;
    width: 130px;
    height: 130px;
    border-radius: 10px;
    margin: 0 auto 5px;
}

.quote-container{
    background-color: #E5E7EB;
    padding: 100px;
}

.quote-container .quote{
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quotation{
    width: 57%;
    margin: 0 auto;
}

.quotation .author {
    text-align: right;
    color: #1F2937;
    font-weight: 800;
    font-size: 25px;
    margin-top: 20px;
}

.sign-up{
    color: #F9FaF8;
    padding: 75px 0px;
}

.sign-container{
    display:flex;
    align-items: center;
    justify-content: space-around;
    width: 53%;
    margin: 0 auto;
    border-radius: 8px;
    background-color: #3882F6;
    padding: 25px;
}

.sign-container .sign-p{
    margin-top: 5px;
}

footer{
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    padding: 25px;
}




